@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
}


#container {
  overflow: auto;              
  scrollbar-width: none;        
  -ms-overflow-style: none;     
}



#container {
    width: 100vw;
    height: 100vh;
    background-color: #E6E8E6;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr;
    color: #2B2B2B;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

#header {
    background-color: #EEEEEE;
    grid-area: 1/1/2/2;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    z-index: 2;
}

#navBar-header {
    grid-area: 2/1/3/2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.flex {
    display: flex;
    align-items: center;
}

#logo-text {
    font-size: 24;
    font-weight: 700;

}

#logo-section {
    justify-content: start;
    position: relative;
    right: 200px;
}

.nav-btn {
    width: 70px;
    padding-bottom: 20px;
    height: 20px;
    font-size: 20px;
    background-color: #EEEEEE;
    font-weight: 600;
    border: none;
}

#nav-btn-section {
    width: 220px;
    gap: 10px;
    justify-content: space-between;
}

.toolBar-header {
    position: relative;
}


.tool-image {
    max-width: 20px;
    max-height: 20px;
}

#tool-images {
    display: flex;
    justify-content: end;
    padding: 3px;
    position: relative;
    right: 20px;
}

#footer {
    background-color: #EEEEEE;
    grid-area: 3/1/4/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#footer > div {
    align-self: center;
    justify-self: center;
    font-weight: 600;
}

#socials {
    display: flex;
}

#socials img {
    max-width: 20px;
    max-height: 20px;
    width: 20px;
    height: 20px;
}

.food-image {
    width: 100%;
    height: auto;
}

.button {
    width: 80px;
    height: 40px;
    border: none;
    font-size: 30px;
    opacity: 0.5;
}

.button-up {
    background-color: #2B2B2B;
    color: #EEEEEE;
}

.button-down {
    background-color: #EEEEEE;
    color: #2B2B2B;
}

#hero {
    width: 1440px;
    height: 960px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#hours {
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    width: max-content;
    height: max-content;
    justify-self: center;
    gap: 20px;
    padding: 70px;
    margin-bottom: 50px;
    padding-bottom: 100px;
    border-radius: 20px;
    border: double #E6E8E6 10px;
    align-self: center;
}
#hoursHead {
    padding-bottom: 40px;

}

.food-Card {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 2fr 1fr;
    background-color: #EEEEEE;
    border: double #E6E8E6 10px;
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
}
.food-Card-Image {
    width: 100%;
    height: auto;
}

#menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-evenly;
    row-gap: 20px;

}